div, p
{
    font-family: "Comic Sans MS";
    border-width: 0.125em;
    border-style: solid;
    border-radius:5px;
    /* font-size: clamp(1vw, 100%, 2vw); */
}


p > a
{
    font-style: normal; color: white; text-decoration: none;
}

li
{
    font-size: clamp(1vw, 100%, 2vw);
    position: static;
}

h3
{
    font-size:1.5vw
}

a:hover {
    color: red;
}

p > a:hover
{
    color: black;
}

/* classes */
.display-one
{
    display: grid; 
    grid-template-columns: 10px auto 10px; 
    margin-top: 2vw;
}

.grid-one
{
    grid-column-start: 2/3;
}

.div-one
{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end:3; 
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto auto auto auto; 
    justify-content: center;  
    align-items: center; 
    padding-top: 0.25em; 
    padding-bottom: 0.25em; 
    width: clamp(75%, auto, 100%); 
    height: clamp(75%, auto, 100%); 
    margin-top: 0.5vw; 
    margin-bottom: 0.5vw;
}

.header-row-class {
    width: clamp(50%, 100%, 100%);
}

.normalsize
{
    width: clamp(100%, 100%, 25%);
    border-radius: 1px;
}

.row
{
    font-size: clamp(1vw, 100%, 2vw); 
    display: inline-block; 
    background-color: orange; 
    margin: 0; 
    margin-left: auto; 
    margin-right: 0.5vw; 
    padding-left: 0.25em; 
    padding-right: 0.25em; 
    align-items: center; 
    justify-content: center;
}

.smolsize
{
    width: clamp(75%, 75%, 25%);
    border-radius: 1px;
}

.spacer
{
    border-style: none;
    clear: both;
    margin: 0.5vw;
    padding: 0.5vw;
}
.center-here
{
    margin-top: 2vw;
    text-align: center;
}


.filler1
{
    min-width: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: 0;
    color: rgb(254,254,254);
    border-color: black;
    font-size: clamp(1vw, 100%, 2vw);
    background-color: red;
}


.main-container-nav
{
    width: 75%;
    /*top right bottom left*/
    margin: 0.25em 1.25em 0 2.5em;
    padding: 0.25em 0 0.25em 0;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    background-color: yellow;
}

.header-row-class
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
    margin-bottom: 2vw; 
    z-index:50;
}

.left-margin-here
{
    margin-left: 1%;
    margin-right: 1%;
}

.portfolio-setting
{
    display: flex; justify-content: center; align-items: center; margin-right: auto; margin-left: auto;
}

.stuff
{
    border-width: 1px; border-style: solid; width: clamp(25%, 50%, 75%); margin-right: auto; margin-left: auto; margin-top: auto; margin-bottom: auto;
}

/* IDS */

#things-i-do
{
    display: grid; grid-template-columns: auto auto auto; grid-template-rows: auto auto auto auto auto;
}

#lineStyle
{
    clear: both; 
    width: 100%; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    z-index: -100; 
    overflow: hidden; 
    position: relative;
}

#p-one
{
    margin: 0; 
    grid-row: 2/5; 
    grid-column: 3/4; 
    width: 75%; 
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
}

#div-two
{
    grid-column: 1/3; 
    grid-row: 2/5; 
    margin: 0; 
    padding: 0;
}

#no-border
{
    border: none;
}


#poggers
{
    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: auto; 
    align-items: center; 
    background-color: blue; 
    width: 100%; 
    margin: 0;
}


#nice
{
    color: red;
}

#nice:hover
{
    color: pink;
    transition: color 0.01s;
}

#top
{
    display:block; 
    margin-bottom: 170px;
}

#pogu
{
    margin: 0.1em;
}

#about-me
{
    margin-right: auto; grid-row-start: 1; grid-row-end:2; grid-column-start: 1; grid-column-end: 4; justify-content: center; align-items: center; margin-right: auto; margin-left: auto; margin-top: 0.5vw;
}

#rah
{
    vertical-align: middle;
}


#portfolio
{
    margin-right: auto;
}

#p-two
{
    display: flex; justify-content: center; align-items: center; margin-right: auto; margin-left: auto;
}
/* for mobile support */
@media screen and (max-width: 400px)
{
    .filler1, p, div, li{
        font-size: clamp(4vw, 100%, 2vw);
        transition: font-size 0.2s;
    }

    .main-container-nav
    {
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-left: 4vw;
    }
    .row, #pogu
    {
        display: none;
        margin: 0;
        padding: 0;
        border: 0;
    }


}

@media screen and (min-width: 401px)
{
    .filler1, p, div, li{
        font-size: clamp(1vw, 1.5vw, 2vw);
        transition: font-size 0.2s;
    }
    h1
    {
        font-size: clamp(2vw, 2.5vw, 3vw);
        transition: font-size 0.2s;
    }
}
